<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Froggers</title>
        <link rel="stylesheet" href="style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500;900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    </head>
    <body>
        <div id="topper">
            <a href="../home/index.html">
                <div class="logo-container">
                    <img class="logo-completa" src="../assets/images/logo-completa.png" alt="logo-completa">
                </div>
            </a>
            

            <div class="search-container">
                <input type="text" placeholder="Search...">
                <button type="submit"> <span class="material-symbols-outlined">arrow_forward_ios</span></button>
              </div>
            
            <div class="icones">
                <div class="conta">
                    <span class="person">person</span>
                    <span class="expand_more/assets">expand_more</span> 
                </div>
                <!-- <span id="shopping_bag" class="shopping_bag"></span> -->
                <span id="menu-button" class="shopping_bag">shopping_bag</span>
                
            </div>
            <div id="sliding-menu" class="menu-closed">
                    
            </div>
        </div>

        <div id="coisas-que-vende">
            <a href="../pages/camisetas/index.html">
                <div class="categorias">camisetas</div>
            </a>
            <a href="../pages/moletons/index.html">
                <div class="categorias">moletons</div>
            </a>
            <a href="../pages/canecas/index.html">
                <div class="categorias">canecas</div>
            </a>
        </div>

        <footer>
            <div class="Atendimento">
                Atendimento:
                <div class="Itens">
                    sac@froggers.com.br
                    <span style="font-family: 'Material Icons', sans-serif;">mail</span>
                </div>
            </div>
            <div class="redes_footer">
                Siga nossas redes:
                <img class="redes" src="../assets/images/redes.png" alt="redes">
            </div>
            <div class="Ajuda">
                Ajuda:
                <div class="Itens">
                    <div class="Perguntas Frequentes">
                        Perguntas Frequentes
                        <span style="font-family: 'Material Icons', sans-serif;">help</span>
                    </div>
                    <div class="Quem Somos">
                        Quem Somos
                        <span style="font-family: 'Material Icons', sans-serif;">info</span>
                    </div>
                    <div class="Fale Conosco">
                        Fale Conosco
                        <span style="font-family: 'Material Icons', sans-serif;">call</span>
                    </div>
                </div>
            </div>
            <div>
                <img id="metodo-pagamento" src="../assets/images/metodo-pagamento.png" alt="">
            </div>
        </footer> 
        <div id="overlay" class="overlay-hidden"></div>
        <script src="script.js"></script>
    </body>   
    
</html>